@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
.bg-foto {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)),
    url("img/Tecnologia.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.bg-foto-capacita {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("img/Capacitacao.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.bg-foto-participa {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("img/Participacao.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.text-justify {
  text-align: justify;
}
.card-grid-custom {
  background-color: #f1f3f5;
  border: 1px solid #dee2e6;
  transition: all 0.2s ease-in-out;
}

.bg-foto:hover {
  transform: translateY(-2px);
}
.bg-foto-capacita:hover{
  transform: translateY(-2px);
}
.bg-foto-participa:hover{
  transform: translateY(-2px);
}